<!DOCTYPE html>

<html lang="hr">
  <head>
    <title>WEB_lab</title>
    <link rel="stylesheet" href="/styles/styles_main.css" />
    <link rel="icon" type="image/x-icon" href="images/logo.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="grid-wrapper">
      <div class="logo"><img src="/images/logo.png" alt="Logo" /></div>
      <div class="current-category">
        <h1><%=data.categories[id].name%></h1>
      </div>
      <div class="cart-search-wrapper">
        <div class="cart-amount-wrapper">
          <a href="/cart">
            <img src="/images/kosarica.png" alt="Košarica" />
          </a>
          <p class="amount">0</p>
        </div>
        <div class="search">
          <img src="/images/trazilica.png" alt="Tražilica" />
        </div>
      </div>
      <ul class="category-menu">
        <%for(category of data.categories) {%>
        <li>
          <a href="/home/<%=category.name%>"><%=category.name%></a>
        </li>
        <%}%>
      </ul>
      <div class="hello-wrapper">
        <h1 class="hello-text">DOBRODOŠLI U DUĆAN SPORTSKE OPREME ACTION</h1>
        <img class="page-image" src="/images/pozadina.jpg" alt="Pozadina" />
      </div>
      <div class="info">
        <p>KONTAKT</p>
        <p>NEWSLETTER</p>
        <p>PRETPLATI SE</p>
      </div>
      <div class="products-wrapper">
        <% for(product of data.categories[id].products) { %>
        <figure>
          <div class="product-cart-amount-wrapper">
            <img src="/images/<%=product.image%>" alt="<%=product.name%>" />
            <button>
              <img src="/images/zuta_kosarica.jpg" alt="Košarica" />
            </button>
            <p class="product-amount" id="<%=product.name%>">
              <%=product.amount%>
            </p>
          </div>
          <figcaption>
            PROIZVOD: <%=product.name%><br />
            KATEGORIJA: <%=data.categories[id].name%>
          </figcaption>
        </figure>
        <% } %>
      </div>
    </div>
  </body>
</html>
